<!-- 3) DEMANDA -->
<li>
    <span>
        <h3>Garantias para a população em situação de rua</h3>
        <p>
            Garantia de cuidados mínimos como higiene pessoal e alimentação para a população em situação de rua

            <ul>
                <li>Responsabilidade do Governo Municipal</li>
                <li>Ação imediata: construção emergencial de albergues em equipamentos públicos (FENAC, escolas, ginásios, etc.)</li>
            </ul>
        </p>
    </span>
</li>

<!-- 4) DEMANDA -->
<li>
    <span>
        <h3>Garantias para beneficiárias do Programa Bolsa Família</h3>
        <p>Garantia de benefício extra (R$ 120,00 por filho matriculado nos ensinos infantil ou fundamental) para beneficiárias do Programa Bolsa Família</p>
        <ul>
            <li>Responsabilidade do Governo Federal</li>
            <li>Ação imediata: decreto do Governo Federal garantindo o benefício extra</li>
        </ul>
    </span>
</li>

<!-- 5) DEMANDA -->
<li>
    <span>
       <h3>Suspensão dos cortes por falta de pagamento de água e energia elétrica</h3>
       <p>Suspensão dos cortes por falta de pagamento de água e energia elétrica para trabalhadores desempregados, autônomos, informais e para beneficiárias do Programa Bolsa Família</p>
       <ul>
           <li>Responsabilidade dos governos Municipal e Estadual</li>
           <li>Ação imediata: decretos municipal e estadual exigindo que RGE e Comusa suspendam os cortes por falta de pagamento </li>
       </ul>
    </span>
</li>

<!-- 6) DEMANDA -->
<li>
    <span>
        <h3>Repasse imediato de recursos financeiros à micro, pequenas e pequenas empresas</h3>
        <p>Repasse imediato de recursos financeiros à micro, pequenas e pequenas empresas urbanas para a manutenção de suas atividades, em proporção igual ao valor dos impostos recolhidos nos últimos 24 meses</p>
        <ul>
            <li>Responsabilidade dos governos Municipal, Estadual e Federal</li>
            <li>Ação imediata: abertura imediata de linhas de crédito às micro, pequenas e médias empresas, garantidas pelo Governo Federal, através dos bancos públicos, com taxa de juros da SELIC e sem correção monetária, tendo como contrapartida a garantia dos empregos existentes antes da crise, readmissão dos demitidos e compromisso de não-realização de demissões por 6 meses</li>
        </ul>
    </span>
</li>


<!-- 7) DEMANDA -->
<li>
    <span>
        <h3>Criação de um cadastro para controle social</h3>
        <p>Criação de um cadastro para controle social de famílias com pessoas nos grupos de risco da pandemia e de famílias atingidas diretamente pela infecção </p>
        <ul>
            <li>Responsabilidade do Governo Municipal</li>
            <li>Ação imediata: criação e organização do cadastro pela prefeitura</li>
        </ul>
    </span>
</li>

<!--8) DEMANDA -->
<!-- <li>
    <span>
        <h3>Adiamento do pagamento da dívida pública</h3>
        <p>Adiamento do pagamento da dívida pública para destinação dos valores para ações emergenciais</p>
        <ul>
            <li>Responsabilidade do Governo Federal</li>
            <li>Ação imediata: </li>
        </ul>
    </span>
</li> -->

<!-- 9) DEMANDA -->
<!-- <li>
    <span>
        <h3>Taxação de grandes fortunas para investimentos no SUS</h3>
        <ul>
            <li>Responsabilidade do Governo Federal</li>
            <li>Ação imediata:</li>
        </ul>
    </span>
</li> -->

<!-- 10) DEMANDA -->
<li>
    <span>
        <h3>Lançamento de edital para contratação de artistas</h3>
        <p>Lançamento de edital para contratação de artistas para apresentações posteriores aos isolamentos</p>
        <ul>
            <li>Responsabilidade do Governo Municipal</li>
            <li>Ação imediata: criação e lançamento de edital, por parte da Secult, com previsão de repasse imediato dos apoios <a href="http://www.ubc.org.br/Publicacoes/Noticias/15102">www.ubc.org.br/Publicacoes/Noticias/15102
            </a></li>
        </ul>
    </span>

</li>

<!-- 11) DEMANDA -->
<li>
    <span>
        <h3>Vacinação domiciliar contra a gripe para pessoas dos grupos de risco da pandemia</h3>
        <ul>
            <li>Responsabilidade do Governo Municipal</li>
            <li>Ação imediata: a partir do cadastro de controle social sugerido acima, organização e destinação de equipes de saúde para vacinação domiciliar</li>
        </ul>
    </span>
</li>

<!-- 12) DEMANDA -->
<li>
    <span>
        <h3>Estatização por tempo determinado de leitos de UTI privados para uso universal</h3>
        <ul>
            <li>Responsabilidade dos governos Municipal e Federal</li>
            <li>Ação imediata: Governo Municipal negocia e Governo Federal financia a ação</li>
        </ul>
    </span>
</li>