<script>
        function enviarEmail() {
            console.log('teste');
      
      var dados = JSON.stringify({
        "Messages": [
          {
            "From": {
              "Email": "igornoia89@gmail.com",
              "Name": "Igor"
            },
            "To": [
              {
                "Email": "igornoia89@gmail.com",
                "Name": "Igor Viana do Amaral"
              }
            ],
            "Subject": "teste",
            "TextPart": "Vou te compra uma galinha.",
            //"HTMLPart": "<h3>Dear passenger 1, welcome to <a href='https://www.mailjet.com/'>Mailjet</a>!</h3><br />May the delivery force be with you!",
            //"CustomID": "AppGettingStartedTest"
          }
        ]
      });



      var settings = {
        // "async": true,
        // "crossDomain": true,
        
        
      }
      
      $.ajax({
        url: "https://api.mailjet.com/v3.1/send",
        method: "POST",
        dataType: "json",
        cors: true,
        crossDomain: true,
        headers: {
          "content-type": "application/json",
          "authorization": "Basic ODRhMmQzYTg1NmY1YzBlNTVjNjI1Y2I3OGFkOTIxNDI6NjIyZjYxNDVkODMyYzk2YzJmZjVmZTYzNDFkODExNDY="
        },
        processData: false,
        data: dados,        
      }).done(function (response) {
        console.log(response);
      });
    }

</script>

<section id="enviarDemanda" class="section-solid section-form">
    <div class="container">
        <div class="title-section">
            <h2>ENVIE-NOS SUA DEMANDA</h2>
            <div class="divider"></div>
            <h3>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h3>
        </div>       
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form action="">
                    <div class="form-group">
                        <label for="">Seu Nome</label>
                        <input type="text" required class="form-control form-control-lg" id="" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="">Seu Email</label>
                        <input type="email" required class="form-control form-control-lg" id="" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="">Bairro</label>
                        <input type="text" class="form-control form-control-lg" id="" placeholder="">
                        <small id="emailHelp" class="form-text">Bairro que você reside em Novo Hamburgo</small>
                    </div>
                    <div class="form-group">
                        <label for="">Demanda</label>
                        <textarea required class="form-control" id="" rows="5" placeholder="Escreva aqui sua demanda..."></textarea>
                    </div>

                    <div class="text-center">
                        <button 
                            onclick="enviarEmail();"
                            class="btn btn-success btn-lg"
                            >ENVIAR DEMANDA</button>
                    </div>

                    <div class="feedback-envio">
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        <div class="alert alert-success">Sua mensagem foi enviada com sucesso, obrigado! <br> Lhe retornaremos o mais breve possível.</div>
                        <div class="alert alert-danger">Oops, ocorreu um erro no envio. Tente novamente mais tarde.</div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>