<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h3><a data-toggle="modal" title="Ler Nota Pública" href="#modalNota0704">Nota Pública à Prefeitura <br> Municipal de Novo Hamburgo</a></h3>
                <H4><span>Todas as vidas importam!</span></H4>
                <P>
                    <a data-toggle="modal" title="Ler Nota Pública" href="#modalNota0704">Causou-nos grande surpresa e profunda preocupação o último decreto (nº 9.197/2020, de 03 de abril de 2020) publicado pela Prefeitura Municipal de Novo Hamburgo. Isso porque o...</a>
                </P>
                <!-- <a data-toggle="modal" title="Ler Nota Pública" href="#modalNota0704" class="btn btn-lg btn-outline-light">ASSINAR NOTA</a> -->
                <a data-toggle="modal" title="Assinar Nota" href="#modalNota0704" class="btn btn-lg btn-light">LER NOTA</a>
            </div>
        </div>
    </div>
</div>