<section id="demandas" class="section-demandas">
    <div class="container">             
      
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <article>
                    <div class="thumb-article">
                        <img src="images/squared.png" alt="">
                    </div>

                    <div class="content-article">                        
                        <h3>RENDA BÁSICA EMERGENCIAL</h3>
                        <p>
                            Renda básica emergencial para trabalhadores desempregados, autônomos, informais e para beneficiárias do Programa Bolsa Família

                            <ul>
                                <li>Responsabilidade dos governos Estadual e Federal;</li>
                                <li>Ação imediata: petição em <a href="https://www.rendabasica.org.br/">https://www.rendabasica.org.br/</a> </li>
                            </ul>
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 d-flex">
                <article class="right">
                    <div class="content-article ">
                      
                        <h3>FORTALECIMENTO DO SUS</h3>
                        <p>
                            Garantia de atendimento à <STRONG> suspeitos e confirmados de infecção</STRONG>
                            <ul>
                                <li>Responsabilidade dos governos Municipal, Estadual e Federal</li>
                                <li>Ação imediata: construção emergencial de hospitais de campanha em equipamentos públicos (FENAC, escolas, ginásios, etc.)</li>
                            </ul>
                        </p>
                       
                    </div>              
                    <div class="thumb-article">
                        <img src="images/squared.png" alt="">
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="section-demanda-list">
    <div class="container">
        <ul class="list-articles d-flex">
           {{ partial "home/_demandas"}}
        </ul>
    </div>
</section>