<section id="protejase" class="section-infos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title-section">
                    <h2>SAIBA COMO SE PROTEgER</h2>
                    <div class="divider"></div>
                    <h3>Abaixo indicamos a leitura de alguns materiais e orientações para que você proteja a si mesmo e a todos a sua volta!</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="list-infos">
                    <a target="_blank" title="Acessar Link" href="https://sbpt.org.br/portal/covid-19-oms/">Orientações da OMS para prevenção da COVID-19</a>
                    <a target="_blank" title="Acessar Link" href="https://www.saude.gov.br/noticias/agencia-saude/46540-saude-anuncia-orientacoes-para-evitar-a-disseminacao-do-coronavirus">Orientações para evitar a disseminação do coronavírus</a>
                </div>
            </div>
        </div>
    </div>
</section>