<!DOCTYPE html>
<html lang="pt">
    <head>
    {{ block "initHead" . }}{{ end }}
    {{ block "head" . }}
        {{- partial "head.html" . -}}
    {{ end }}
    {{ block "endHead" . }}{{ end }}
    </head>
    <body class="">
        {{ block "initBody" . }}{{ end }}

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v6.0&appId=373686706111347&autoLogAppEvents=1"></script>
        
        <div id="page">
            {{ block "header" . }}{{- partial "header.html" . -}}{{ end }}
            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>
            {{ block "footer" . }}{{- partial "footer.html" . -}}{{ end }}
        </div>

        <!-- Back to top button -->
        <a href="##" id="buttonGoTop"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg></a>
        
        {{ partial "_modal_form" }}
        {{ partial "_modal_nota_0704" }}

        {{ block "endBody" . }}{{ end }}
        {{ partial "ending-scripts" . }}
    </body>
</html>
