<div class="modal modal-form fade" id="modalForm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Precisa de ajuda?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="section-solid section-form">
                    <form action="">
                        <div class="form-group">
                            <label for="">Seu Nome</label>
                            <input type="text" required class="form-control form-control-lg" id="" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <label for="">Seu Email</label>
                            <input type="email" required class="form-control form-control-lg" id="" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="">Bairro</label>
                            <input type="text" class="form-control form-control-lg" id="" placeholder="">
                            <small id="emailHelp" class="form-text">Bairro que você reside em Novo Hamburgo</small>
                        </div>
                        <div class="form-group">
                            <label for="">No que você precisa de ajuda?</label>
                            <select class="form-control" name="" id="">
                                <option value="" disabled selected>Selecionar</option>
                                <option value="">Jurídica</option>
                                <option value="">Psicológica</option>
                            </select>
    
                        </div>
                        <div class="form-group">
                            <label for="">Mensagem</label>
                            <textarea required class="form-control" id="" rows="5" placeholder="Descreva sua situação..."></textarea>
                        </div>
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-lg">ENVIAR MENSAGEM</button>
                        </div>
    
                        <div class="feedback-envio">
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                            <div class="alert alert-success">Sua demanda foi enviada com sucesso, obrigado! <br> Lhe retornaremos o mais breve possível.</div>
                            <div class="alert alert-danger">Oops, ocorreu um erro no envio. Tente novamente mais tarde.</div>
                        </div>
    
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">FECHAR</button>
            </div>
        </div>
    </div>
</div>