.modal-form{
    .modal-header{
        .modal-title{
            color: $blue-theme;
        }
    }
    .modal-body{
        padding: 0;
      
    }

    .section-form{
        padding: 1.2em;

        & > h3{
            color: #fff;
            font-size: 1.2rem;
            color: #fff;
            font-size: 1rem;
            line-height: 1.4em;
            margin-bottom: 1.2em;

        }

        select option{
            color: #555;
        }
    }
}