.section-infos{
    .list-infos{
        padding: 0;
        margin: 0;

        a, & > div{
            display: block;
            list-style: none;
            text-align: center;
            margin-bottom: 15px;
            padding: 1em;
            background: #eee;
        }

        & > a{
            transition: all .3s ease;

            &:hover{
                opacity: .65;
                text-decoration: none;
            }
        }

        & > div{
            color: #777;
        }
    }
}