.section-form{
    @include bg-theme;

    .form-group{
        margin-bottom: 1.5em;

        label{
            font-family: $font-display;
            color: rgba(255,255,255,1);
            font-size: 1.2rem;
        }
        .form-control{
            background: rgba(255,255,255,.2);           
            color: #fff;
            border-width: 2px;
            border:none;
            //box-shadow: 0 2px 6px rgba(0,0,0,.15);

            &:focus{
                color: #fff;
                //background-color: #fff;
                border-color: #fff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(255,255,255,.75);
            }
           
            
            @include color-placeholder(rgba(255,255,255,.8));
        }

        .form-text{
            color: rgba(255,255,255,.75);
        }
    }

    .btn-success{
        font-family: $font-display;
        font-weight: bold;
        color: $blue-theme;
        background: #fff;
        border:none;
        letter-spacing: .046em;

        padding: 1.1em 1.6em;
        
    }
}